@import '../../../global.scss';


.done {
    background-color: green;
}
.changeBlock {
    @include spaceAroundBlock;
    >input {
        width: 70%;
        height: 50px;
    }
    >button {
        width: 14%;
        height: 50px;
    }
    >button:first-child{
        background-color: green;
    }
}